{% for rrset in rrsets %}
{% set rrset_type = rrset.keys() | first %}
- name: Creating rrset of type {{ rrset_type }}
  kpfleming.powerdns_auth.rrset:
    {% if rrset_type != "DS" %}
        {% set name = "t." ~ rrset_type ~ ".rrset.example." %}
    {% else %}
        {% set name = "rrset.example." %}
    {% endif %}
    {% set params = {
        "zone_name": "rrset.example.",
        "name": name,
        "state": "present",
        "api_key": api_key
        }
    %}
    {{ params | combine(rrset) }}
  register: result

- ansible.builtin.assert:
    quiet: true
    that:
      - '"exception" not in result'
      - not result.failed
      - result.changed
      - rrset != "NXDOMAIN"
  vars:
    rrset: "{% raw %}{{ lookup('dig_local', 't.{% endraw %}{{ rrset_type }}{% raw %}.rrset.example.', qtype='{% endraw %}{{ rrset_type }}{% raw %}', flat=0, fail_on_error=false, real_empty=false) }}{% endraw %}"
{% endfor %}
